body {
  margin: 0;
  padding: 0;
  background-color: rgb(212, 229, 244);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


.centered{
  height: 190px;
  background-image: url("https://cdn1.vectorstock.com/i/1000x1000/69/05/leaves-of-palm-tree-on-white-background-vector-1036905.jpg");
    background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.centered h1{
  margin-top: 1%;
  color: rgb(38, 59, 160);
  font-family: 'Libre Baskerville', serif;
  font-size: 58px;
}

.centered h5{
  margin-top: 1%;
  color: rgb( 255, 97, 0);
  font-family: 'Libre Baskerville', serif;
  font-size: 20px;
}


.TucanTwo{
  position: absolute;
  top: 15%;
  left: 75%;
  transform: translate(-50%, -50%);
  width: 114px;
}


.HomeContainer h1{
  font-family: 'Caveat Brush', cursive;
  text-align: center;
  font-size: 70px;
  color: rgb( 255, 97, 0);
}


.HomeContainer img{
  display: inline-block;

}

.Carousel{
  width: 100%;
  display: block;
 margin-left: auto;
 margin-right: auto;
}

.Carousel h1{
  position: absolute;
  top: 8px;
  left: 16px;
}

.AboutContainer h1{
  font-family: 'Caveat Brush', cursive;
  text-align: center;
  font-size: 60px;
  color: rgb(38, 59, 160);

}

.AboutContainer h4{
  color: black;
  font-family: 'Libre Baskerville', serif;
  font-size: 14px;

}
